<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="button-back" (click)="this.modalController.dismiss();">
      <ion-icon name="arrow-back-outline" class="icon-back"></ion-icon>
    </ion-buttons>
    <ion-title (click)="this.modalController.dismiss();">
      Regresar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="center-element">
    <form class="forms" *ngIf="!preload">
      <h4 class="ion-text-center" style="margin-top: 5px !important;"><strong>REGISTRAR EMPRESA O USUARIO</strong></h4>
      <div *ngIf="userSelected" class="center-horizontal mb-3 mt-1">
        <ion-button class="next-button ion-button-width-1-5em" (click)="saveAutocompleteUser()">Continuar</ion-button>
      </div>
      <div *ngIf="!userSelected">
        <mat-form-field>
          <input placeholder="Nombre o Razón social" matInput [formControl]="formControlName">
          <mat-error>{{getErrorMessageName()}}</mat-error>
        </mat-form-field>
        <div>
          <mat-checkbox style="margin-top: 10px;" [checked]="isLegalPerson" (change)="changeCheckLegalPerson($event)">
            <span>¿ Es una persona Jurídica ?</span>
          </mat-checkbox>
        </div>
        <ion-row>
          <ion-col size="12">
            <mat-form-field>
              <input placeholder="Cédula o NIT" matInput required [formControl]="formControlNIT">
              <mat-error>{{getErrorMessageNit()}}</mat-error>
            </mat-form-field>
          </ion-col>
          <!--          <ion-col size="5">-->
          <!--            <mat-form-field class="w-100" appearance="outline">-->
          <!--              <mat-label>Dígito de Verificación</mat-label>-->
          <!--              <input matInput [formControl]="formControlDigit">-->
          <!--              <mat-error>{{getErrorDigit()}}</mat-error>-->
          <!--            </mat-form-field>-->
          <!--          </ion-col>-->
        </ion-row>
        <span class="m-0" style="color: #003b19;">El correo debe ser real para evitar problemas de facturación</span>
        <div style="height: 0.8em;"></div>

        <div class="ion-text-center">
          <ion-row>
            <ion-col class="p-0" size="6">
              <mat-form-field>
                <input placeholder="Correo" matInput [formControl]="formControlEmail" [readonly]="useDefaultEmail" required>
                <mat-error>{{getErrorMessageEmail()}}</mat-error>
              </mat-form-field>
            </ion-col>
            <ion-col class="p-0" size="1" style="margin-top: .5em;">
              <span>@</span>
            </ion-col>
            <ion-col class="p-0" size="5" *ngIf="!otherEmailDomain">
              <mat-form-field class="w-100">
                <mat-select [formControl]="formControlEmailDomain" class="domains" [disabled]="useDefaultEmail">
                  <mat-option [value]="domain" *ngFor="let domain of listEmailDomains">{{domain}}</mat-option>
                </mat-select>
              </mat-form-field>
            </ion-col>
            <ion-col size="5" *ngIf="otherEmailDomain">
              <mat-form-field>
                <input placeholder="Dominio" matInput [formControl]="formControlEmailOtherDomainText" [readonly]="useDefaultEmail" required>
                <mat-error>{{getErrorMessageEmailOtherDomainText()}}</mat-error>
              </mat-form-field>
            </ion-col>
          </ion-row>
        </div>
        <ion-row class="ion-text-left" style="margin-top: -1.8em; margin-bottom: 0.2em;">
          <ion-col size="6" *ngIf="defaultProviderEmail">
            <mat-checkbox [checked]="useDefaultEmail" (change)="toggleUseDefaultEmail()">
              <span>Correo por defecto</span>
            </mat-checkbox>
          </ion-col>
          <ion-col size="6" *ngIf="!useDefaultEmail">
            <mat-checkbox [checked]="otherEmailDomain" (change)="changeCheckBoxDomain($event)">
              <span>Otro Dominio</span>
            </mat-checkbox>
          </ion-col>
        </ion-row>
        <mat-form-field class="w-100">
          <img matSuffix src="./assets/basket/search.svg" alt="" width="30" height="30">
          <input type="text" aria-label="Number" placeholder="Buscar Ciudad por Nombre o Código DIAN" matInput
            (ngModelChange)="changeCityAutocomplete()" [formControl]="formControlCity" [matAutocomplete]="auto">
          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
            <mat-option *ngFor="let option of cityList" [value]="option.name"
              (onSelectionChange)="onSelectOption(option)">
              <span>{{option.name}} - Código: {{option.code}}</span>
            </mat-option>
          </mat-autocomplete>
             <mat-error *ngIf="formControlCity.touched && !lastCitySelected">Debe oprimir sobre una ciudad para seleccionarla</mat-error>
        </mat-form-field>
        <div class="ion-text-center">
          <mat-form-field>
            <input placeholder="Teléfono" matInput [formControl]="formControlPhoneNumber" required>
            <mat-error>{{getErrorMessagePhoneNumber()}}</mat-error>
          </mat-form-field>
        </div>
        <div class="center-horizontal">
          <ion-button class="ion-button-width-1-5em main-button" (click)="register()">Continuar</ion-button>
        </div>
      </div>
    </form>
  </div>
</ion-content>