@import '../../../../../global';
@import '../../operator-page.component';

ion-toolbar {
    --background: #277aa2 !important;
    --color: white;
}

.background_image{
    background-image: url("../../../../../assets/background/main_background_tablet.png");
    --background: none;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
.error-mode{
    padding: 10px 0px;
    font-size: 14px;
}

.plaque-field{
    width: 200px;
    font-size: 12px;
}

.value-field{
    width: 250px;
    font-size: 12px;
}

.mat-button-toggle-group{
    border:none;
}

.mat-button-toggle{
    width: 110px !important;
    height: 110px !important;
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 3px !important;
}
.label-option{
    font-size: 18px;
}
.money-value{
    font-size: 26px;
    color: #fff;
}
