
<div class="container">
  <ion-fab  vertical="top" horizontal="end" *ngIf = "visible">
    <ion-fab-button>
      <ion-icon name="list-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="goToTankers($event)">
        <ion-icon name="water-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="goToBasket($event)">
        <ion-icon name="basket" ></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="goToHistorySales($event)">
        <ion-icon name="newspaper"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openModalHelp()">
        <ion-icon name="help-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openModalCloseShift()">
        <ion-icon name="exit"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</div>

