
  <!--
  <ion-buttons slot="start">
    <ion-fab-button (longPressed)="longPressTankers($event)"
                appLongPress
                delay=1000
                (mouseup)="disableLongPressActive()"
                *ngIf="!isHomePage && !showOnlyHelp" (click)="goToHome()"
                class="ion-float-left ml-4" style="width: 50px; height: 50px;">
      <ion-icon slot="icon-only" name="home"></ion-icon>
    </ion-fab-button>
    <ion-fab-button (click)="openModalHelp()"
                    color="secondary"
                    (longPressed)="longPressHelp($event)"
                    (mouseup)="disableLongPressActive()"
                    appLongPress
                    delay=1000
                    class="ion-float-left ml-4" style="width: 50px; height: 50px;">
      <ion-icon name="help-outline"></ion-icon>
    </ion-fab-button>
  </ion-buttons>
  <ion-buttons slot="secondary">
    <ion-button (longPressed)="longPressTankers($event)"
                appLongPress
                delay=1000
                style="transform: scale(1.4);"
                (mouseup)="disableLongPressActive()"
                class="button-mr" *ngIf="!isHomePage && !showOnlyHelp" (click)="goToTankers($event)">
      <ion-icon [ngClass]="{'color-blue': isTankers()}"
                slot="icon-only" name="car"></ion-icon>
    </ion-button>
    <ion-button (longPressed)="longPressBasket($event)"
                appLongPress
                delay=1000
                style="transform: scale(1.4);"
                (mouseup)="disableLongPressActive()"
                class="button-mr" *ngIf="!isHomePage && !showOnlyHelp" (click)="goToBasket($event)">
      <ion-icon [ngClass]="{'color-blue': isBasket()}"
                slot="icon-only" name="basket"></ion-icon>
    </ion-button>
    <ion-button (longPressed)="longPressTankers($event)"
                appLongPress
                delay=1000
                (mouseup)="disableLongPressActive()"
                class="button-mr" *ngIf="!isHomePage && !showOnlyHelp" (click)="goToHistorySales($event)">
      <ion-icon [ngClass]="{'color-blue': isHistorySales()}"
                slot="icon-only" name="newspaper"></ion-icon>
    </ion-button>
    <ion-button (longPressed)="longPressLogout($event)"
                appLongPress
                delay=1000
                *ngIf="!showOnlyHelp"
                style="transform: scale(1.4); margin-right: .5em !important;"
                (mouseup)="disableLongPressActive()"
                (click)="openModalCloseShift()">
      <ion-icon slot="icon-only" name="exit"></ion-icon>
    </ion-button>
  </ion-buttons>
  -->
<div class="container">
  <ion-fab  vertical="top" horizontal="end" *ngIf = "visible">
    <ion-fab-button>
      <ion-icon name="list-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="bottom">
      <ion-fab-button (click)="goToHome()">
        <ion-icon name="home"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="goToTankers($event)">
        <ion-icon name="water-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="goToBasket($event)">
        <ion-icon name="basket" ></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="goToHistorySales($event)">
        <ion-icon name="newspaper"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openModalHelp()">
        <ion-icon name="help-outline"></ion-icon>
      </ion-fab-button>
      <ion-fab-button (click)="openModalCloseShift()">
        <ion-icon name="exit"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>
</div>

