<!--<ion-header [translucent]="true">-->
<!--  <ion-toolbar>-->
<!--    <ion-title>-->
<!--      Inbox-->
<!--    </ion-title>-->
<!--  </ion-toolbar>-->
<!--</ion-header>-->

<ion-content [fullscreen]="true">
  <ion-router-outlet></ion-router-outlet>
<!--  <ion-refresher slot="fixed">-->
<!--    <ion-refresher-content></ion-refresher-content>-->
<!--  </ion-refresher>-->
<!--  -->
<!--  <ion-header collapse="condense">-->
<!--    <ion-toolbar>-->
<!--      <ion-title size="large">-->
<!--        Inbox-->
<!--      </ion-title>-->
<!--    </ion-toolbar>-->
<!--  </ion-header>-->
</ion-content>
